* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  color: #00000f;
}

body {
  background: #efefef;
  color: hsl(240, 30, 10);
  font: 700 14px/1 Montserrat, sans-serif;
  letter-spacing: 0.125em;
}

h1 {
  padding: 1rem 0;
}

.container {
  padding: 0 2rem;
  width: 100%;
  height: 100vh;
}
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  width: 100%;
  display: flex;
}
#input {
  width: 60%;
  height: 3rem;
  text-align: center;
  border: none;
  margin-right: 1rem;
}

#inputBtn {
  width: 40%;
  height: 3rem;
  background: none;
  border: 2px solid;
  font: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  transition: color 1s;
  text-transform: uppercase;

  $color: #00000f;
  color: $color;

  &:hover {
    animation: halftone 1s forwards;
    background: radial-gradient(circle, $color 0.2em, transparent 0.25em) 0 0 /
        1.25em 1.25em,
      radial-gradient(circle, $color 0.2em, transparent 0.25em) 6.25em 6.25em /
        1.25em 1.25em;
    color: #ffffff;
  }
}

.list {
  min-width: 30rem;
}

.list h1 {
  margin: 1rem 0;
  text-align: center;
}

.counter {
  font-size: 1.5rem;
}

@keyframes halftone {
  100% {
    background-size: 2.375em 2.375em, 0.1em 0.1em;
  }
}
